*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,
body{

    overflow-x:hidden;

    overflow-y:auto;

    width:100%;

}

#root{

    width:100%;

}

html,
body{
    width:100%;
    overflow-x:hidden;
    background:#d9dde5;
    font-family:Arial, Helvetica, sans-serif;
}

.result-page{

    width:100%;

    /* min-height:60vh; */

    display:flex;

    justify-content:center;

    align-items:flex-start;

    padding:15px;

}

.paper{

    width:500px;

    max-width:100%;

    background:#fff;

    border:1px solid #c4c4c4;

    box-shadow:0 0 8px rgba(0,0,0,.15);

    padding:10px;

}

.paper img{

    width:100%;

    height:auto;

    display:block;

}