*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#d9dde5;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;   /* Disable left-right scroll */
}

/* Full Page */

.result-page{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:flex-start;   /* Keep content at the top */

    padding:15px 0 40px;

}

/* White Paper */

.paper{

    width:500px;
    height: 00px;

    background:black;

    border:1px solid #c4c4c4;

    box-shadow:0 0 8px rgba(0,0,0,.15);

    /* padding-bottom: 0px; */
    /* height: 800px; */

}

/* Image */

.paper img{

    width:100%;
    display:block;
    height: auto;
   
    

}

/* Mobile */

@media(max-width:768px){

    .result-page{
    
        padding:10px;
    
    }
    
    .paper{
    
        width:100%;
    
        max-width:750px;
    
    }
    
    }