.page{

    width:100%;

}

.header{

    width:99%;

    min-height:130px;

    background:#97D4FC;

    border-top:5px solid #2f8fd8;

    display:flex;

    align-items:center;

    padding:15px 25px;

    position:relative;
    top: 1%;
    left: 0.5%;

}

.logo-section{

    width:120px;

    display:flex;

    justify-content:center;

}

.logo-section img{

    width:90px;

    height:90px;

}

.title-section{

    flex:1;

    text-align:center;
    font-size: 24px;
    color: #114C88;
    font-weight: bold;
}
.result{
    color: red;
    position: relative;
    top: 10px;

}

.title-section h1{

    color:#0d4b8d;

    font-size:30px;

    margin-bottom:8px;

}

.title-section h2{

    color:red;

    font-size:34px;

}

.portal{

    position:absolute;

    right:20px;

    bottom:18px;

    color:#0b65bd;

    font-weight:bold;

}
.portal-text{
    color: #0373BD;
    position: relative;
    top: 48px;
    font-size: 13px;
    font-weight: bold;
    right: -15px;

}

.red-line{
    
   

    width:99%;
    position: relative;
    left: 0.5%;

    height:4px;
    top: 1px;

    background:#c70000;

}

.back-link{

    width:100%;

    padding:1px 20px;

    text-align:right;
    position: relative;
    top: 10px;

}