.captcha-wrapper{

    width:98%;
    padding-left: 2%;
    
  

    

}

.captcha-box{

    /* border:1px solid #a5a5a5; */

    /* background:#efefef; */
    background:#DEDEDE;

    

    padding:px;

}

.captcha-image{

    background:white;

    border:1px solid black;

    height:66.89px;
    
    
  

    display:flex;

    align-items:center;

    justify-content:center;

    position:relative;

}

.captcha-code{

    font-size:40px;

    font-weight:bold;

    letter-spacing:8px;
    font-family:Arial Black;

    color:#222;

    user-select:none;

    transform:rotate(-2deg);

}

.refresh-btn{

    position:absolute;

    right:15px;

    top:15px;

    width:36px;

    height:36px;

    border:none;

    border-radius:50%;

    background:#0d6efd;

    color:white;

    cursor:pointer;

    font-size:20px;

}

.captcha-input{

    width:167.92px;

    height:28.78px;

    margin:8px auto 5px;

    display:block;

    text-align:center;

    font-size:18px;

}

.captcha-error{

    color:red;

    text-align:center;

    font-size:13px;

    margin-bottom:15px;

}
.inputbox1{
    border:1px solid black;
    height: 45.80px;
    border-top:1px solid white;
    


}
.btn{
    border:1px solid black;
    height: 35.18px;
    border-top:1px solid white;

}

.view-btn{

    display:block;

    margin:auto;
    margin-top: 3.2px;

    padding:6.5px 10px;

    background:#0b63b6;

    color:white;

    border:none;

    font-size:12px;

    cursor:pointer;

}

.view-btn:hover{

    background:#004a91;

}

/* Keep desktop layout on mobile */



