.footer{

    width:100%;

    background:#3c88d3;

    border-top:3px solid #1e65b0;

    padding:18px;

}

.footer-content{

    color:white;

    text-align:center;

    line-height:28px;

    font-size:14px;

}